@import url("https://fonts.googleapis.com/css2?family=Gayathri:wght@100&family=Pacifico&family=Poiret+One&family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Gayathri:wght@100&family=Pacifico&family=Poiret+One&family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Darker+Grotesque:wght@300&family=Gayathri:wght@100&family=Italiana&family=Pacifico&family=Poiret+One&family=Syncopate&family=Tangerine&display=swap");

.shortBio,
.contactDetails,
.skills,
.education,
.workExperience {
  font-family: "Poiret One", sans-serif;
  text-align: center;
  font-size: 20px;
}

img {
  max-width: 60%;
  height: auto;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 10px;
}

h2 {
  font-family: "Darker Grotesque", sans-serif;

  font-size: 32px;
}

.p1 {
  font-size: 24px;
  font-style: bold;
}

.p2 {
  font-size: 18px;
  font-style: italic;
}

.p3 {
  font-size: 18px;
  font-style: oblique;
}
